__pycache__
*.pyc
*.pyo
*.pyd
.Python
myenv
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
Dockerfile
.dockerignore
README.md
*.zip
bot_client.session
admin.log
