*.log
*.log.*
__pycache__/
myenv/
venv/
.venv/
.env
*.env
config.yml
config*.yml
!config.example.yml
database.db
database.db*
*.session
*.session*
media/
*.jpg
*.png
*.mp4
*.ogg
*.mp3
qr_*.png